.customPropertyLink {
	background: #0c79bf;
	border: 0 solid #0c79bf;
	border-radius: 3px;
	margin: 0 15px 0 0;
	padding: 6.2px 13px;
	color: white !important;
}
.propertyLink {
    background: #ffffff;
    border: 1px solid #0c79bf;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 0;
    margin: 0 15px 0 0;
    padding: 5.2px 13px;
}
.propertyUnderLine{
    text-decoration: underline;
}

.propertyButton
{
	    white-space: nowrap;
	font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
    padding: 0;
    color: #135fa3;
        background: #ffffff;
    border: 1px solid #0c79bf;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 0;
    margin: 0 15px 0 0;
    padding: 5.2px 13px;
}


.alfresco-renderers-PropertyLink > span.inner .propertyButton
{
	color: #135fa3;
}